.mainText{
    font-family: 'Creepster', cursive;
    color: #FEFEFE;
    margin-bottom: 0px;
}

.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gridContainer{
    display: grid;
    border: 5px groove #FEFEFE;
    width: 480px;
    height: 480px;
    margin-top: 70px;
}

body{
    background-color: #404040;
}

#reset{
    margin-top: 20px;
    border: 5px groove #FEFEFE;
    background-color: #404040;
    font-family: 'Creepster', cursive;
    color: #FEFEFE;
    font-size: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
}

#reset:hover {background-color: #686868}

