.gridContainer{
    display: grid;
    border: 5px solid black;
    width: 480px;
    height: 480px;
    margin-top: 70px;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#reset{
    margin-top: 20px;
}